# 🔐 ENV
.env

# 🐍 Python
__pycache__/
*.pyc

# 📦 Virtual env
venv/
.venv/

# 📝 Logs
*.log
bot_output.log

# 📊 Data
*.csv
data/logs/

# 🧠 IDE
.vscode/
.idea/

# 🖥️ OS
.DS_Store
Thumbs.db

# 🖥️ OS
belgeler/
